{% include directory ~ '/partials/header.html.twig' %}

<div class="fluid-container main-content">
    {{ page.content }}
    {% include directory ~ '/partials/twitter.html.twig' %}
</div>

{% include directory ~ '/partials/footer.html.twig' %}
