<footer>
    <div class="container footer__widgets">
        <div class="col-lg-6 footer__widget">
            <img src="/themes/custom/hangiclub/images/logo_w.png" style="margin-top:40px;">
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos nulla varius volutpat.</p>
        </div>
        <div class="col-lg-6 footer__widget">
            <h3>Instagram</h3>
            <ul>
                {{ page.footer }}
            </ul>
        </div>
    </div>

    <div class="container bordered">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="copyright">© 2016 HangiClub. All Rights Reserved</p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="main-header__social">
                <ul class="main-header__social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>