<footer>
    <div class="container footer__widgets">
        <div class="col-lg-6 footer__widget">
            <img src="/themes/custom/hangiclub/images/IMG_1750.png" style="margin-top:40px;">
            <p>İzmir, Çeşme, Kuşadası, Bodrum ve çok daha fazlası yakında HangiClub'da...</p>
        </div>
        <div class="col-lg-6 footer__widget">
            <h3>Instagram</h3>
            <ul>
                {{ page.footer }}
            </ul>
        </div>
    </div>

    <div class="container bordered">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="copyright">© {{ "now"|date("Y") }} HangiClub. Tüm Hakları Saklıdır</p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="main-header__social">
                <ul class="main-header__social-links">
                    <li><a href="https://www.facebook.com/HangiClub" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/hangiclub" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/hangiclub/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>