<header>
    <div class="main-header__top hidden-xs">
        <div class="container">
            <div class="col-md-6 col-sm-6">
                <form action="/search/post" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys,edit-submit">
                    <div class="main-hader__search">
                        <input id="header-search" type="search" placeholder="Arama yapmak için kelime giriniz!" name="keys" maxlength="128" data-drupal-selector="edit-keys">
                    </div>
                </form>
                
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="main-header__social">
                    <ul class="main-header__social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>        
        </div>
    </div>
    

    <div class="fluid-container">
        {{ page.header }}    
    </div>
</header>