@import "bootstrap";
@import "font-awesome";

body {
    font-family: 'Merriweather', serif;
    font-size: 2em;
}

a:hover{
    text-decoration: none !important;
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 14px;
  height: 14px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
}

.owl-theme .owl-controls .owl-page.active span {
  filter: Alpha(Opacity=100);
  opacity: 1;
  border: 1px solid #D75752;
  background: #D75752;
}
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1; 
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

@-webkit-keyframes preloader {
0% {
  transform: translateY(0) scaleX(1.6);
  -webkit-transform: translateY(0) scaleX(1.6);
  -ms-transform: translateY(0) scaleX(1.6);
}   
33% {
  transform: translateY(0) scaleX(1) scaleY(1.3);
  -webkit-transform: translateY(0) scaleX(1) scaleY(1.3);
  -ms-transform: translateY(0) scaleX(1) scaleY(1.3);
}  
100% {
  transform: translateY(-150px) scaleX(1) scaleY(1.1);
  -webkit-transform: translateY(-150px) scaleX(1) scaleY(1.1);
  -ms-transform: translateY(-150px) scaleX(1) scaleY(1.1);    
}
}

@keyframes preloader {
0% {
  transform: translateY(0) scaleX(1.6);
  -webkit-transform: translateY(0) scaleX(1.6);
  -ms-transform: translateY(0) scaleX(1.6);
}   
33% {
  transform: translateY(0) scaleX(1) scaleY(1.3);
  -webkit-transform: translateY(0) scaleX(1) scaleY(1.3);
  -ms-transform: translateY(0) scaleX(1) scaleY(1.3);
}  
100% {
  transform: translateY(-150px) scaleX(1) scaleY(1.1);
  -webkit-transform: translateY(-150px) scaleX(1) scaleY(1.1);
  -ms-transform: translateY(-150px) scaleX(1) scaleY(1.1);       
}
}

.owl-item.loading {
  width:100%;
  height: auto;
}
/* preloading images */
.owl-item.loading:after{
  content: '';
  position: absolute;
  margin-top: 50%;
  left: calc(50% - 16px);
  height: 32px;
  width: 32px;
  background: #D75752;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  -webkit-animation: preloader 400ms ease-out; /* Chrome, Safari, Opera */ 
  animation: preloader 400ms ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
    }

    50% {
    opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
    }

    50% {
    opacity: 1;
    }
}

@-webkit-keyframes bounceUpHead {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }       

    50% {
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
    }

    100% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
}

@keyframes bounceUpHead {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
    }       

    50% {
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
    }

    100% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
    }
}

@-webkit-keyframes bounceUpP {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }       

    50% {
        transform: translateY(-80px);
        -webkit-transform: translateY(-80px);
    }

    100% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
    }
}


@keyframes bounceUpP {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
    }       

    50% {
        transform: translateY(-80px);
        -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
    }

    100% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
    }
}

.main-header__top {
    width: 100%;
    display: block;
    background: #000;
    height: 50px;
}

.main-hader__search {
    color: #fff;
    font-size: 16px;

    &:before {
        content: '\f002';
        font-family: "FontAwesome";
        color: #fff;
        font-size: 1em;
        display: inline-block;
    }

    input {
        display: inline-block;
        background: transparent;
        color: #fff;
        border: none;
        font-size: 0.85em;
        min-width: 300px;
        height: 50px;
        padding: 0 15px;
        margin-left: 10px;

        &:hover {
            background: #333;
        }

        &:focus {
            background: #D75752;
            border: none;
            -webkit-appearance: none;
            outline: none;
        }
    }
}

.main-header__social {
    float: right;

    ul{
        padding: 0;
        margin: 0;

        li{
            display: inline-block;

            a{
                color: #fff;
                padding: 11px 8px;
                display: block;

                &:hover {
                    background: #D75752;
                    color: #fff;
                    transition: background 150ms;
                    -webkit-transition: background 150ms;

                    i{
                        background: #D75752;
                        color: #fff;
                        -webkit-animation: zoomIn 500ms; /* Chrome, Safari, Opera */ 
                        animation: zoomIn 500ms;
                    }
                }
            }
        }
    }
}

.main-header__navigation {
    border-top: 1px solid #EEE;
    box-shadow: inset 0 -1px 0 0 #EEE;
    -webkit-box-shadow: inset 0 -1px 0 0 #EEE;

    ul{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        position: relative;

        li{
            padding: 0;
            margin: 0;
            float: left;
            display: inline-block;

            box-shadow: inset 0 -1px 0 0 #EEE;
            -webkit-box-shadow: inset 0 -1px 0 0 #EEE;

            transition: background-color 250ms ease-in-out;
            -webkit-transition: background-color 250ms ease-in-out; 

            a{
                display: block;
                padding: 20px;
                color: #000;
                font-size: 1.1em;

                transform: translateY(0px);
                -webkit-transform: translateY(0px);

                transition: all 150ms ease-in-out;
                -webkit-transition: all 150ms ease-in-out; 
            }

            &:hover{
                a{
                    background-color: #D75752;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
.slide__caption {
    background: rgba(41, 41, 41, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;

    h2{
        font-weight: 900;
        font-size: 1.2em;
        text-align: center;
        width: 100%;
        padding: 0 15%;
        color: #FFF;
        position: absolute;
        top: calc(50% - 1.2em);
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);

        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        transition: transform 300ms ease-in-out;
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        -ms-transition: -ms-transform 300ms ease-in-out;
    }

    p{
        font-size: 0.9em;
        text-align: center;
        color: #fff;
        font-style: italic;
        margin: 0 auto;
        position: absolute;
        min-width: 100px;
        left: calc(50% - 50px);
        top: 40%;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);

        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        transition: transform 300ms ease-in-out;
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        -ms-transition: -ms-transform 300ms ease-in-out;

        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 30px;
            height: 1px;
            background: rgba(255, 255, 255, 0.3);
            left: -30px;
            margin-top: 10px;
        }

        &:after{
            position: absolute;
            content: '';
            display: block;
            width: 30px;
            height: 1px;
            background: rgba(255, 255, 255, 0.3);
            right: -30px;
            margin-top: -10px;
        }
    }

    &:hover{
        background: rgba(41, 41, 41, 0.7);

        h2{
            -webkit-animation: bounceUpHead 500ms ease-out; /* Chrome, Safari, Opera */ 
            animation: bounceUpHead 500ms ease-out;

            transform: translateY(-50px);
            -webkit-transform: translateY(-50px);
            -ms-transform: translateY(-50px);
        }

        p{
            -webkit-animation: bounceUpP 500ms ease-out; /* Chrome, Safari, Opera */ 
            animation: bounceUpP 500ms ease-out;

            transform: translateY(-50px);
            -webkit-transform: translateY(-50px);
            -ms-transform: translateY(-50px);
        }

        .slider__button{
            display: block;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }
}
.slider__item {
    position: relative;
    overflow: hidden;
    img {
        -webkit-transform-style: preserve-3d;
        display: block;
        position: relative;
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px);
        -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
        transition: opacity 0.7s, transform 0.7s;
        -webkit-transform: translate3d(-25px,0,0) scale(1.01);
        transform: translate3d(-25px,0,0) scale(1.01);
        max-width: none;
    }

    &:hover{
        img{
            -webkit-transform: translate3d(-25px,0,0) scale(1.1);
            transform: translate3d(-25px,0,0) scale(1.1);
        }
    }
}

.slider__button {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    top: 50%;
    text-align: center;
    font-size: 0.9em;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 2px 0;
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
    transform: scale3d(.4, .4, .4);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-transition: -webkit-transform 400ms ease, opacity 100ms ease, background 150ms;
    transition: transform 400ms ease, opacity 100ms ease, background 150ms;

    &:hover{
        background: #D75752;
        color: #FFF;
    }
}

.main-content-posts {
    margin-top: 150px;

    img{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        max-width: 100%;
        height: auto;
    }
}

.main-content__post {
    margin-top: 150px;
}

.post__header {
    position: relative;
}

.post__meta {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    color: #B2B2B2;
    margin: 0;
    padding-top: 1em;

    a{
        color: #D75752;

        &:hover{
            color: #202020;
        }
    }
}

.post__time {
    position: relative;
    color: #000;
    width: 100%;
    display: block;
    margin: 1em 0;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -0.05em;

    &:after{
        content: '';
        position: absolute;
        bottom: -1em;
        width: 2em;
        height: 1px;
        left: calc(50% - 1em);
        background: #eee;
    }
}
.time_large {
    font-size: 1.5em;
}

.post__title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: -0.045em;
    text-align: center;
    margin: 0.6em 0 0.4em 0;
    color: #151515;

    a{
        color: #202020;
    }
}

.post__content {
    font-size: 1em;
    line-height: 1.6em;
    width: 88%;
    margin: 0 auto 2.4em;
}

p.post__excerpt {
    text-align: center;
}

.post__button {
    width: 100%;
    position: relative;

    &:before, &:after{
        content: '';
        position: absolute;
        top: 16px;
        height: 1px;
        background: #eeeeee;
        width: 42%;
        display: block;
    }

    &:before{
        left: 0;
    }

    &:after{
        right: 0;
    }

    a{
        margin: 0 auto;
        display: block;
        text-align: center;
        display: inline-block;
        font-size: 0.9em;
        color: #D75752;
        border: 2px solid #D75752;
        font-family: "Merriweather", serif;
        padding: 5px 15px;
        font-weight: 600;
        background: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        transition: background 150ms, color 150ms, transform 50ms;
        -webkit-transition: background 150ms, color 150ms, transform 50ms;
        text-decoration: none;

        &:hover{
                text-align: center;
                font-size: 0.9em;
                color: #fff;
                border: 2px solid #D75752;
                background: #D75752;
                padding: 5px 15px;
                font-weight: 600;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                border-radius: 20px;
                -webkit-border-radius: 20px;
        }
    }
}
//### pagination start ###//
.custom-pagination {
    padding: 90px 0;
    border-bottom: 1px solid #eeeeee;
}
.pagination__prev, .pagination__next  {
    color: #D75752;
    width: 33.333%;
    display: inline-block;
    float: left;
    transition: all 150ms ease;
    -webkit-transition: all 150ms ease;

    i{
        padding: 11px 12px 10px 12px;
        border: 2px solid #D75752;
        margin: 0 10px 0 0;

        border-radius: 50%;
        -webkit-border-radius: 50%;

        transition: all 150ms ease;
        -webkit-transition: all 150ms ease;
    }
}

.pagination__next{
    text-align: right;
    
    i{
        margin: 0 0 0 10px;
    }
}

.pagination__prev:hover, .pagination__next:hover {
    color: #202020;

    i{
        color: #fff;
        background: #D75752;
    }
}

.pagination__numbers {
    width: 33.333%;
    float: left;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 8px 0;

    li{
        display: inline-block;
        text-align: center;
        margin: 0 5px;

        a{
            color: #b0b0b0;
            font-weight: 900;

            transition: all 150ms ease;
            -webkit-transition: all 150ms ease;

            &:hover{
                color: #D75752;
            }

            &.pagination-active{
                color: #202020;
            }
        }
    }
}

//### pagination end ###//
//### single post start ###//
.post-content__post {
    color: #898989;
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
}

.single-post__content {
    font-size: 1em;
    line-height: 1.6em;
    width: 100%;
    margin: 0 auto 2.4em;

    p{
        margin: 0 60px 30px;

        a{
            font-weight: 600;
            text-decoration: none;
            color: #D75752;
            transition: color 150ms ease, background 150ms ease;
            -webkit-transition: color 150ms ease, background 150ms ease;
        }
    }

    blockquote{
        margin: 0 0 40px;
        padding: 30px 0;
        background: #f7f7f7;
        border-left: 4px solid #D75752;

        p{
            margin: 0 60px 0;
            font-size: 1.25em;
            line-height: 1.55em;
            font-style: italic;
        }
    }
}

.post__separator {
    width: 220px;
    height: 1px;
    background-color: #D75752;
    display: block;
    margin: 65px auto;
}

ul.checklist {
    margin: 0 60px 30px;
    padding: 0;

    li{
        display: block;
        margin: 7px 0;

        &:before{
            content: '\f058';
            display: inline-block;
            font-family: "FontAwesome";
            margin-right: 10px;
        }
    }
}

.post-slider {
    img{
        width: 100%;
    }
}

.post-content__share {
    padding: 30px 0 100px;
    border-bottom: 1px solid #EEE;

    h3{
        display: block;
        float: none;
        position: relative;
        text-align: center;
        margin: 0 0 40px;
        padding: 0;
        font-weight: 900;
        color: #151515;
    }
}

.share__icons {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 0;
    position: relative;

    li{
        display: inline-block;
        border: 2px solid #D75752;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        margin: 0 10px;

        transition: background 200ms ease-in-out;
        -webkit-transition: background 200ms ease-in-out;

        i{
            display: block;
            text-align: center;
            line-height: 31px;
        }

        a{
            color: #D75752;
            font-size: 0.8em;
        }

        &:hover{
            background: #D75752;

            a{
                color: #fff;
            }
        }
    }

    &:before , &:after{
        content: '';
        position: absolute;
        top: 16px;
        height: 1px;
        background: #EEE;
        width: 30%;
        display: block;
    }

    &:before{
        left: 0;
    }

    &:after{
        right: 0;
    }
}

//### single post end ###//
////### footer start ###//

footer{
    background: #151515;
}

.footer__widgets{
    padding: 80px 0;
    display: block;
    overflow: hidden;
}

.footer__widget{
    text-align: center;
    
    p{
        text-align: center;
        padding: 10px 40px;
        color: #fff;
        font-weight: 300;
        font-size: 0.9em;
    }

    h3{
        text-align: center;
        font-weight: 900;
        color: #fff;
    }

    ul{
        padding: 0;
        margin: 0 auto;
        width: 220px;
        overflow: hidden;

        li{
            width: 100px;
            display: inline-block;
            margin: 5px;
            float: left;

            img{
                max-width: 100%;
                height: auto;
                display: block;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                margin: 0 auto;
            }
        }
    }
}
.bordered {
    border-top: 1px solid #222222;
}

.copyright {
    color: #fff;
    font-weight: 300;
    font-size: 0.8em;
    display: block;
    margin-top: 33px;
}
//### footer end ###//