<div class="container">
    <div class="row main-content-posts">
        <div class="center-block col-lg-12" style="text-align:center;">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>