<figure class="slider__item">
    {{ fields.field_tag_image.content }}
    <figcaption class="slide__caption">
        <p>{{ fields.name.content }}</p>
        <a href="single.html"><h2>Delicious grilled skewers.</h2></a>
        {{ fields.view_taxonomy_term.content }}
    </figcaption>
</figure>